flows/Admin — Rotate Token (POST).json
{
  "name": "Admin — Rotate Token (POST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/expenseflow/admin/user/rotate-token",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1952,
        -96
      ],
      "id": "aff3ed52-879a-4f5b-8069-6b1c529fd230",
      "name": "Webhook",
      "webhookId": "ee762392-9b92-445b-bb9f-446e4872f759"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Access denied. This area is restricted to administrators only / Token is invalid\"\n}\n",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1088,
        176
      ],
      "id": "75073bdd-fd38-4f16-91c5-f19b1caee7b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Access denied. This area is restricted to administrators only / Token is invalid\"\n}\n",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -208,
        48
      ],
      "id": "4651d164-01a5-485b-8154-0400b4f390bc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"ok\": {{$json.ok}},\n  \"subject_email\": \"{{$json.subject_email}}\",\n  \"new_token\": \"{{$json.new_token}}\",\n  \"user_exists\": {{$json.user_exists}},\n  \"not_self\": {{$json.not_self}}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -192
      ],
      "id": "762c26c8-2f60-47e8-82e6-71550c5ea67c",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0537394a-faab-4d6e-bdac-26dcbdae38ef",
              "name": "token",
              "value": "={{ ($json.query.token || '').replace(/^\"+|\"+$/g,'').replace(/\\\\\"/g,'').trim() }}",
              "type": "string"
            },
            {
              "id": "ea10d6ee-a212-46b6-9cb0-a1869f00608c",
              "name": "target_email",
              "value": "={{ String($json.body?.email ?? '').trim().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        -96
      ],
      "id": "4b7f8041-3621-4a9b-b717-30bb24667c35",
      "name": "Normalize Target Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9a9c0b6-4f12-4243-b7d9-2ba1c41c3b74",
              "leftValue": "={{$json.token}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        -96
      ],
      "id": "ce25ebbd-333d-4b59-92fa-fd029434617e",
      "name": "Token Present"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH u AS (\n  SELECT email, name, role, token, active\n  FROM users\n  WHERE token = $1\n    AND active = true\n    AND token_expires_at > NOW()\n  LIMIT 1\n),\nslide AS (\n  UPDATE users\n  SET token_expires_at = NOW() + INTERVAL '30 minutes'\n  WHERE token = $1\n    AND active = true\n    AND token_expires_at > NOW()\n    AND EXISTS (SELECT 1 FROM u)\n  RETURNING 1\n)\nSELECT\n  (u.email IS NOT NULL) AS ok,\n  u.email,\n  u.name,\n  u.role,\n  u.token,\n  u.active\nFROM (SELECT 1) dummy\nLEFT JOIN u ON true;\n",
        "options": {
          "queryReplacement": "={{ $json.token }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        -96
      ],
      "id": "aa751065-7a1c-418b-8153-00dc10a28036",
      "name": "Validate Token & Extend",
      "credentials": {
        "postgres": {
          "id": "Rh1n4180I2tofWKO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38728fcc-fa76-4ffa-8dc1-fa44f0f60051",
              "name": "admin_email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "c87d5cdd-f4aa-44b6-a8c3-d74cfc224331",
              "name": "admin_name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "340171a0-359f-4069-8387-e444608187b8",
              "name": "current_user_role",
              "value": "={{$json.role}}",
              "type": "string"
            },
            {
              "id": "767eaf3e-7841-4cb6-aa3e-c10463975141",
              "name": "token",
              "value": "={{$json.token}}",
              "type": "string"
            },
            {
              "id": "9f595a66-e8cc-413a-997b-113d9ca9a192",
              "name": "current_user_active",
              "value": "={{$json.active}}",
              "type": "string"
            },
            {
              "id": "6de177ff-2b73-4b36-97b9-be0959d88ff0",
              "name": "target_email",
              "value": "={{ $node[\"Normalize Target Email\"].json.target_email }}",
              "type": "string"
            },
            {
              "id": "e9d155cc-6356-4449-b540-59ccc72eb55e",
              "name": "ok",
              "value": "={{ $json.ok }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -96
      ],
      "id": "90db75e8-acbc-4f91-9e52-0e908cd34ab5",
      "name": "Prepare Manual Token Rotation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e2dccb1-fca0-42dd-8724-c9f5c379a670",
              "leftValue": "={{$json.current_user_role}}",
              "rightValue": "ADMIN",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "269a824e-fca9-46a3-827a-8b3a1ef08892",
              "leftValue": "={{$json.ok}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        -96
      ],
      "id": "6a699694-f975-4af5-af5d-58b6cb1618dc",
      "name": "Permission Check"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH subject AS (\n  SELECT email\n  FROM users\n  WHERE lower(email) = lower($1)\n  LIMIT 1\n),\nguard AS (\n  SELECT\n    EXISTS(SELECT 1 FROM subject) AS user_exists,\n    (lower($1) <> lower($2)) AS not_self\n),\ndo_update AS (\n  UPDATE users\n  SET\n    token =encode(gen_random_bytes(24), 'hex'),\n    token_expires_at = NOW() + INTERVAL '30 minutes'\n  WHERE lower(email) = lower($1)\n    AND lower($1) <> lower($2)\n  RETURNING email, token, token_expires_at\n)\nSELECT\n  (SELECT user_exists FROM guard) AS user_exists,\n  (SELECT not_self FROM guard) AS not_self,\n  EXISTS(SELECT 1 FROM do_update) AS ok,\n  COALESCE((SELECT token FROM do_update), '') AS new_token,\n  $1::text AS subject_email;\n",
        "options": {
          "queryReplacement": "={{ $json.target_email }}\n{{ $json.admin_email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -192
      ],
      "id": "b4843e01-754a-4eeb-ae69-6fd3e3057f02",
      "name": "Rotate User Token",
      "credentials": {
        "postgres": {
          "id": "Rh1n4180I2tofWKO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Target Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Target Email": {
      "main": [
        [
          {
            "node": "Token Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Present": {
      "main": [
        [
          {
            "node": "Validate Token & Extend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token & Extend": {
      "main": [
        [
          {
            "node": "Prepare Manual Token Rotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Manual Token Rotation": {
      "main": [
        [
          {
            "node": "Permission Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Permission Check": {
      "main": [
        [
          {
            "node": "Rotate User Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotate User Token": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18d14382-fd28-44fa-86b9-42df57c7631b",
  "meta": {
    "instanceId": "ed78ae6e681edbfae313d0e8063f75c68ae48b9e68d4728e17cb5150634a5de7"
  },
  "id": "JjVrI955xQM2UcjawACd4",
  "tags": []
}