flows/ExpenseFlow - Admin - Create Employee (GET).json
{
  "name": "ExpenseFlow - Admin - Create Employee (GET)",
  "nodes": [
    {
      "parameters": {
        "path": "expenseflow/admin/add-employee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4fac8547-e531-4f4d-ac46-8561c2c3d54c",
      "name": "Webhook",
      "webhookId": "5b89d59d-52c9-4350-ae00-44fed8b5f6f8"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\" />\n    <title>401 – Unauthorized</title>\n\n    <style>\n      :root {\n        --bg: #f5f7fb;\n        --card: #ffffff;\n        --text: #1f2937;\n        --muted: #6b7280;\n        --accent: #f59e0b; /* amber for auth issues */\n      }\n\n      * {\n        box-sizing: border-box;\n      }\n\n      body {\n        margin: 0;\n        min-height: 100vh;\n        font-family: system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\",\n          Roboto, sans-serif;\n        background: var(--bg);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        padding: 24px;\n        color: var(--text);\n      }\n\n      .card {\n        background: var(--card);\n        padding: 36px 40px;\n        border-radius: 14px;\n        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);\n        text-align: center;\n        max-width: 420px;\n        width: 100%;\n      }\n\n      .code {\n        font-size: 3rem;\n        font-weight: 800;\n        color: var(--accent);\n        margin-bottom: 8px;\n      }\n\n      h1 {\n        font-size: 1.4rem;\n        margin: 0 0 10px;\n      }\n\n      p {\n        margin: 0;\n        color: var(--muted);\n        font-size: 0.95rem;\n      }\n    </style>\n  </head>\n\n  <body>\n    <div class=\"card\">\n      <div class=\"code\">401</div>\n      <h1>Unauthorized</h1>\n      <p>Your session is missing or the access token is invalid.</p>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        272
      ],
      "id": "b176b3e1-e0d6-4575-b04c-840ab97acaf4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <title>403 – Access Denied</title>\n\n    <style>\n      :root {\n        --bg: #f5f7fb;\n        --card: #ffffff;\n        --text: #1f2937;\n        --muted: #6b7280;\n        --accent: #ef4444;\n      }\n\n      * {\n        box-sizing: border-box;\n      }\n\n      body {\n        margin: 0;\n        min-height: 100vh;\n        font-family: system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\",\n          Roboto, sans-serif;\n        background: var(--bg);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        padding: 24px;\n        color: var(--text);\n      }\n\n      .card {\n        background: var(--card);\n        padding: 36px 40px;\n        border-radius: 16px;\n        box-shadow: 0 14px 36px rgba(0, 0, 0, 0.08);\n        text-align: center;\n        max-width: 420px;\n        width: 100%;\n      }\n\n      .code {\n        font-size: 3.2rem;\n        font-weight: 800;\n        color: var(--accent);\n        margin-bottom: 8px;\n      }\n\n      h1 {\n        font-size: 1.5rem;\n        margin: 0 0 10px;\n      }\n\n      p {\n        margin: 0;\n        color: var(--muted);\n        font-size: 0.95rem;\n        line-height: 1.5;\n      }\n    </style>\n  </head>\n\n  <body>\n    <div class=\"card\">\n      <div class=\"code\">403</div>\n      <h1>Access denied</h1>\n      <p>This area is restricted to administrators only.</p>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1696,
        144
      ],
      "id": "d594d4e1-7396-45f8-b769-908572e13e1e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{`<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>ExpenseFlow — Add User</title>\n  <style>\n    :root{\n      --bg:#070a14;\n      --bg2:#090e1d;\n      --card: rgba(12, 17, 40, 0.72);\n      --card2: rgba(12, 17, 40, 0.58);\n      --border: rgba(255,255,255,0.10);\n      --text:#e8ecff;\n      --muted: rgba(232,236,255,0.62);\n      --shadow: 0 20px 80px rgba(0,0,0,0.55);\n      --primary:#6d5efc;\n      --primary2:#8a7cff;\n      --ok:#22c55e;\n      --bad:#fb7185;\n      --warn:#fbbf24;\n      --glass: rgba(255,255,255,0.04);\n    }\n\n    *{ box-sizing:border-box; }\n    html, body { height:100%; }\n\n    body{\n      margin:0;\n      font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;\n      color: var(--text);\n      background: linear-gradient(180deg, var(--bg), var(--bg2));\n      min-height: 100vh;\n      padding: 22px 16px 40px;\n    }\n\n    body::before{\n      content:\"\";\n      position: fixed;\n      inset: 0;\n      pointer-events: none;\n      background:\n        radial-gradient(900px 520px at 18% 18%, rgba(109,94,252,0.30), transparent 60%),\n        radial-gradient(820px 520px at 78% 12%, rgba(138,124,255,0.20), transparent 62%),\n        radial-gradient(900px 620px at 50% 0%, rgba(55,150,255,0.12), transparent 70%);\n      opacity: 1;\n    }\n\n    .mono{ font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", monospace; }\n\n    .pageTop{\n      position: relative;\n      max-width: 820px;\n      margin: 0 auto 14px;\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap: 12px;\n    }\n\n    .brand{\n      display:flex;\n      align-items:center;\n      gap: 10px;\n      text-decoration:none;\n      color: var(--text);\n      user-select:none;\n    }\n\n    .brand svg{\n      width: 44px;\n      height: 44px;\n      flex: 0 0 auto;\n      filter: drop-shadow(0 10px 18px rgba(0,0,0,0.45));\n    }\n\n    .brandText{\n      display:flex;\n      flex-direction:column;\n      line-height: 1.05;\n    }\n\n    .brandText .name{\n      font-weight: 950;\n      letter-spacing: .2px;\n      font-size: 16px;\n      color: rgba(255,255,255,0.96);\n    }\n\n    .brandText .sub{\n      margin-top: 3px;\n      font-size: 11px;\n      color: var(--muted);\n      letter-spacing: .12em;\n      text-transform: uppercase;\n    }\n\n    .topActions{\n      display:flex;\n      align-items:center;\n      gap: 10px;\n      flex-wrap: wrap;\n      justify-content:flex-end;\n    }\n\n    .wrap{\n      position: relative;\n      width: 100%;\n      max-width: 820px;\n      margin: 0 auto;\n    }\n\n    .card{\n      background: var(--card);\n      border:1px solid var(--border);\n      border-radius: 18px;\n      box-shadow: var(--shadow);\n      overflow: hidden;\n      backdrop-filter: blur(10px);\n    }\n\n    .top{\n      display:flex;\n      align-items:flex-start;\n      justify-content:space-between;\n      gap: 12px;\n      padding: 18px 20px;\n      border-bottom:1px solid rgba(255,255,255,0.08);\n      background: linear-gradient(180deg, rgba(255,255,255,0.05), transparent);\n    }\n\n    .title{ font-size: 18px; font-weight: 950; margin:0; letter-spacing: 0.2px; }\n    .subtitle{ margin:6px 0 0; color: var(--muted); font-size: 12px; }\n\n    .btn{\n      display:inline-flex;\n      align-items:center;\n      justify-content:center;\n      padding: 9px 12px;\n      border-radius: 12px;\n      border:1px solid rgba(255,255,255,0.10);\n      background: rgba(255,255,255,0.03);\n      color: rgba(232,236,255,0.92);\n      font-weight: 900;\n      font-size: 12px;\n      text-decoration:none;\n      cursor:pointer;\n      user-select:none;\n      transition: transform .12s ease, background .12s ease;\n      white-space: nowrap;\n    }\n    .btn:hover{ transform: translateY(-1px); background: rgba(255,255,255,0.06); }\n    .btn:disabled{ opacity: 0.45; cursor:not-allowed; transform:none; }\n\n    .btn-primary{\n      border-color: rgba(109,94,252,0.35);\n      background: linear-gradient(180deg, var(--primary), var(--primary2));\n      box-shadow: 0 14px 30px rgba(109,94,252,0.22);\n    }\n    .btn-primary:hover{\n      background: linear-gradient(180deg, var(--primary2), var(--primary));\n    }\n\n    .btn-ghost{\n      border-color: rgba(255,255,255,0.10);\n      background: rgba(255,255,255,0.02);\n    }\n\n    .content{\n      padding: 18px 20px 20px;\n      display:grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 14px;\n    }\n\n    .field{\n      border: 1px solid rgba(255,255,255,0.08);\n      background: rgba(255,255,255,0.02);\n      border-radius: 16px;\n      padding: 12px;\n    }\n\n    .field.full{ grid-column: 1 / -1; }\n\n    label{\n      display:block;\n      font-size: 11px;\n      letter-spacing: .12em;\n      text-transform: uppercase;\n      color: rgba(232,236,255,0.70);\n      font-weight: 900;\n      margin-bottom: 8px;\n    }\n\n    .hint{\n      margin: 8px 0 10px;\n      color: var(--muted);\n      font-size: 11px;\n      line-height: 1.35;\n    }\n\n    .inp, .sel{\n      width:100%;\n      height: 40px;\n      border-radius: 14px;\n      border:1px solid rgba(255,255,255,0.10);\n      background: rgba(255,255,255,0.03);\n      color: rgba(232,236,255,0.92);\n      padding: 0 12px;\n      font-size: 13px;\n      outline: none;\n    }\n\n    .inp:focus, .sel:focus{\n      border-color: rgba(109,94,252,0.55);\n      box-shadow: 0 0 0 3px rgba(109,94,252,0.16);\n    }\n\n    .row{\n      display:flex;\n      gap: 10px;\n      align-items:center;\n      justify-content:flex-end;\n      padding: 14px 20px 20px;\n      border-top: 1px solid rgba(255,255,255,0.08);\n      background: rgba(255,255,255,0.01);\n    }\n\n    .note{\n      flex:1;\n      color: var(--muted);\n      font-size: 11px;\n    }\n\n    .pill{\n      display:inline-flex;\n      gap:8px;\n      align-items:center;\n      padding:8px 10px;\n      border-radius: 999px;\n      border:1px solid rgba(255,255,255,0.10);\n      background: rgba(255,255,255,0.04);\n      color: var(--muted);\n      font-size: 12px;\n    }\n    .pill .tag{\n      padding: 3px 8px;\n      border-radius: 999px;\n      background: rgba(109,94,252,0.18);\n      color: rgba(232,236,255,0.92);\n      border: 1px solid rgba(109,94,252,0.25);\n      font-weight: 950;\n      letter-spacing: 0.2px;\n      font-size: 11px;\n    }\n\n    .error{\n      display:none;\n      margin-top: 10px;\n      padding: 10px 12px;\n      border-radius: 14px;\n      border: 1px solid rgba(251,113,133,0.35);\n      background: rgba(251,113,133,0.08);\n      color: rgba(232,236,255,0.92);\n      font-size: 12px;\n    }\n\n    .error.full{\n      grid-column: 1 / -1;\n    }\n\n    select, option{\n      background-color: #0b1022;\n      color: #e8ecff;\n    }\n    option:checked{\n      background-color: #6d5efc;\n      color: #ffffff;\n    }\n    option:hover{\n      background-color: #6d5efc;\n      color: #ffffff;\n    }\n\n    @media (max-width: 760px){\n      .content{ grid-template-columns: 1fr; }\n      .pageTop{ flex-direction: column; align-items:flex-start; }\n      .topActions{ width:100%; justify-content:flex-start; }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"pageTop\">\n    <a class=\"brand\" href=\"/webhook/app/expenseflow/admin/dashboard?token=${encodeURIComponent(String($json.token ?? \"\").trim())}\" aria-label=\"ExpenseFlow home\">\n      <svg viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\" aria-hidden=\"true\">\n        <defs>\n          <linearGradient id=\"efgAdd\" x1=\"0\" y1=\"0\" x2=\"1\" y2=\"1\">\n            <stop offset=\"0%\" stop-color=\"#6d5efc\"/>\n            <stop offset=\"100%\" stop-color=\"#8a7cff\"/>\n          </linearGradient>\n        </defs>\n        <circle cx=\"32\" cy=\"32\" r=\"22\" fill=\"url(#efgAdd)\" />\n        <path d=\"M18 32 Q32 18 46 32 T60 32\" stroke=\"rgba(255,255,255,0.95)\" stroke-width=\"4\" fill=\"none\" stroke-linecap=\"round\"/>\n      </svg>\n      <div class=\"brandText\">\n        <div class=\"name\">ExpenseFlow</div>\n        <div class=\"sub\">Admin</div>\n      </div>\n    </a>\n\n    <div class=\"topActions\">\n      <a class=\"btn btn-ghost\" href=\"/webhook/app/expenseflow/admin/dashboard?token=${encodeURIComponent(String($json.token ?? \"\").trim())}\">Back</a>\n      <a class=\"btn btn-ghost\" href=\"/webhook/expenseflow/auth/logout?token=${encodeURIComponent(String($json.token ?? \"\").trim())}\">Logout</a>\n    </div>\n  </div>\n\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <div class=\"top\">\n        <div>\n          <h1 class=\"title\">Add User</h1>\n          <p class=\"subtitle\">Create an Employee or Supervisor. Employee can be linked to a supervisor.</p>\n        </div>\n        <div class=\"pill\">\n          <span class=\"tag\">ADMIN</span>\n          <span class=\"mono\">token</span>\n          <span class=\"mono\">${String($json.token ?? \"\").trim()}</span>\n        </div>\n      </div>\n\n      <form id=\"addUserForm\" method=\"POST\" action=\"/webhook/expenseflow/admin/add-employee?token=${$json.token}\" autocomplete=\"off\">\n        <div class=\"content\">\n          <div class=\"field\">\n            <label for=\"employee_name\">Name</label>\n            <input class=\"inp\" id=\"employee_name\" name=\"employee_name\" required placeholder=\"e.g., Dana Cohen\" />\n          </div>\n\n          <div class=\"field\">\n            <label for=\"employee_email\">Email</label>\n            <input class=\"inp\" id=\"employee_email\" name=\"employee_email\" type=\"email\" required placeholder=\"e.g., dana@company.com\" />\n          </div>\n\n          <div class=\"field\">\n            <label for=\"role\">Role</label>\n            <select class=\"sel\" id=\"role\" name=\"role\" required>\n              <option value=\"EMPLOYEE\">EMPLOYEE</option>\n              <option value=\"SUPERVISOR\">SUPERVISOR</option>\n            </select>\n            <div class=\"hint\">Employees submit claims. Supervisors approve claims.</div>\n          </div>\n\n          <div class=\"field\">\n            <label for=\"supervisor_email\">Supervisor Email</label>\n            <input class=\"inp\" id=\"supervisor_email\" name=\"supervisor_email\" type=\"email\" placeholder=\"Required only for EMPLOYEE\" />\n            <div class=\"hint\">When role is EMPLOYEE, this field becomes required.</div>\n          </div>\n\n          <div class=\"field\">\n            <label for=\"password\">Password</label>\n            <input class=\"inp\" id=\"password\" name=\"password\" type=\"password\" required placeholder=\"Set an initial password\" />\n            <div class=\"hint\">User will log in with email + password.</div>\n          </div>\n\n          <div class=\"field\">\n            <label for=\"password2\">Confirm Password</label>\n            <input class=\"inp\" id=\"password2\" name=\"password2\" type=\"password\" required placeholder=\"Repeat password\" />\n            <div class=\"hint\">Must match the password.</div>\n          </div>\n\n          <div id=\"errBox\" class=\"error full\"></div>\n        </div>\n\n        <div class=\"row\">\n          <div class=\"note\">After creation you’ll return to the Admin Dashboard automatically.</div>\n          <a class=\"btn btn-ghost\" href=\"/webhook/app/expenseflow/admin/dashboard?token=${$json.token}\">Cancel</a>\n          <button class=\"btn btn-primary\" type=\"submit\">Create user</button>\n        </div>\n      </form>\n    </div>\n  </div>\n\n  <script>\n    const role = document.getElementById(\"role\");\n    const sup = document.getElementById(\"supervisor_email\");\n    const form = document.getElementById(\"addUserForm\");\n    const p1 = document.getElementById(\"password\");\n    const p2 = document.getElementById(\"password2\");\n    const errBox = document.getElementById(\"errBox\");\n\n    function showErr(msg){\n      errBox.textContent = msg || \"\";\n      errBox.style.display = msg ? \"block\" : \"none\";\n    }\n\n    function updateSupervisorRequirement() {\n      const isEmployee = role.value === \"EMPLOYEE\";\n      sup.required = isEmployee;\n      sup.disabled = !isEmployee;\n      if (!isEmployee) sup.value = \"\";\n    }\n\n    role.addEventListener(\"change\", updateSupervisorRequirement);\n    updateSupervisorRequirement();\n\n    form.addEventListener(\"submit\", (e) => {\n      showErr(\"\");\n      const isEmployee = role.value === \"EMPLOYEE\";\n      if (isEmployee && !String(sup.value || \"\").trim()) {\n        e.preventDefault();\n        showErr(\"Supervisor Email is required when role is EMPLOYEE.\");\n        return;\n      }\n      if (String(p1.value || \"\") !== String(p2.value || \"\")) {\n        e.preventDefault();\n        showErr(\"Passwords do not match.\");\n        return;\n      }\n      if (String(p1.value || \"\").length < 6) {\n        e.preventDefault();\n        showErr(\"Password must be at least 6 characters.\");\n        return;\n      }\n    });\n  </script>\n</body>\n</html>`}}\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1696,
        -144
      ],
      "id": "a31251ee-aabc-4957-a95c-ab26275ab5d5",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0537394a-faab-4d6e-bdac-26dcbdae38ef",
              "name": "token",
              "value": "={{$json.query?.token ? String($json.query.token).trim() : ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "c62898e0-502c-45e6-b963-ae69ffd6b3f4",
      "name": "Normalize Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9a9c0b6-4f12-4243-b7d9-2ba1c41c3b74",
              "leftValue": "={{$json.token}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        0
      ],
      "id": "b9907d0f-aca2-46be-8c6f-7bbc5a183c85",
      "name": "Token Present?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH u AS (\n  SELECT email, name, role, token, token_expires_at\n  FROM users\n  WHERE token = $1\n    AND active = true\n    AND (token_expires_at IS NULL OR token_expires_at > NOW())\n  LIMIT 1\n),\nslide AS (\n  UPDATE users\n  SET token_expires_at = NOW() + INTERVAL '30 minutes'\n  WHERE token = $1\n    AND EXISTS (SELECT 1 FROM u)\n  RETURNING 1\n)\nSELECT\n  (u.email IS NOT NULL) AS ok,\n  u.email,\n  u.name,\n  u.role,\n  u.token\nFROM u\nRIGHT JOIN (SELECT 1) dummy ON true;\n",
        "options": {
          "queryReplacement": "={{ $json.token }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        0
      ],
      "id": "298c1a3a-4f29-41e4-8091-333ea507e5be",
      "name": "Validate Token + Refresh Session",
      "credentials": {
        "postgres": {
          "id": "Rh1n4180I2tofWKO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38728fcc-fa76-4ffa-8dc1-fa44f0f60051",
              "name": "current_user_email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "c87d5cdd-f4aa-44b6-a8c3-d74cfc224331",
              "name": "current_user_name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "340171a0-359f-4069-8387-e444608187b8",
              "name": "current_user_role",
              "value": "={{$json.role}}",
              "type": "string"
            },
            {
              "id": "767eaf3e-7841-4cb6-aa3e-c10463975141",
              "name": "token",
              "value": "={{$json.token}}",
              "type": "string"
            },
            {
              "id": "bd987b87-379f-4420-8f10-f951697aba02",
              "name": "ok",
              "value": "={{$json.ok.toBoolean()}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        0
      ],
      "id": "04ed5b6a-a258-4b1c-ace9-ee33bcafce22",
      "name": "Set Current User Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e2dccb1-fca0-42dd-8724-c9f5c379a670",
              "leftValue": "={{$json.current_user_role}}",
              "rightValue": "ADMIN",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d2bc6868-0b3d-4a97-8f6f-4bd6f1abae0a",
              "leftValue": "={{$json.ok}}",
              "rightValue": "\"true\"",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        0
      ],
      "id": "d98c216d-29ca-4759-b75f-b3226a7c5d7f",
      "name": "Admin Access Check"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Token": {
      "main": [
        [
          {
            "node": "Token Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Present?": {
      "main": [
        [
          {
            "node": "Validate Token + Refresh Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token + Refresh Session": {
      "main": [
        [
          {
            "node": "Set Current User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Current User Context": {
      "main": [
        [
          {
            "node": "Admin Access Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Access Check": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8474f7c8-77e7-45a3-a555-33b7c4da40df",
  "meta": {
    "instanceId": "ed78ae6e681edbfae313d0e8063f75c68ae48b9e68d4728e17cb5150634a5de7"
  },
  "id": "3UaKUrbrRxZRhRebeKexO",
  "tags": []
}